.icon-message {
  height: 184px;
  width: 184px;
}

.icon-message .overlap-group-4 {
  border-radius: 47.41px;
  height: 184px;
  position: relative;
}

.icon-message .box-2 {
  background-color: #ffffff;
  border-radius: 47.41px;
  box-shadow: 8.05px 24.15px 89.45px -11.63px #15334f1a;
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(0.12deg);
  width: 184px;
}

.icon-message .messages {
  height: 147px;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 147px;
}
