.section-component-node {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  height: 64px;
  left: 17px;
  position: absolute;
  top: 489px;
}

.section-component-node .frame-7 {
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 238, 255, 1) 100%
  );
  border-radius: 10.24px;
  box-shadow: 0px 6.4px 16px #38383808;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 64px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 163px;
}

.section-component-node .frame-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12.8px;
  position: relative;
}

.section-component-node .frame-9 {
  background-color: #eeeeff;
  border-radius: 12.8px;
  height: 39.04px;
  overflow: hidden;
  position: relative;
  width: 39.04px;
}

.section-component-node .icon-pencil-instance {
  height: 40px !important;
  width: 40px !important;
}

.section-component-node .design-component-instance-node {
  border-radius: 10.24px !important;
  height: 40px !important;
}

.section-component-node .icon-pencil-2 {
  background-color: #efeeff !important;
  border-radius: 10.24px !important;
  box-shadow: 1.74px 5.22px 19.32px -2.51px #15334f1a !important;
  height: 40px !important;
  width: 40px !important;
}

.section-component-node .design-component-instance-node-2 {
  height: 32px !important;
  left: 4px !important;
  top: 4px !important;
  width: 32px !important;
}

.section-component-node .icon-pencil-3 {
  height: 22px !important;
  left: 7px !important;
  top: 3px !important;
  width: 21px !important;
}

.section-component-node .icon-pencil-4 {
  border-radius: 2.82px !important;
  height: 10px !important;
  left: 10px !important;
  top: 2px !important;
  width: 9px !important;
}

.section-component-node .icon-pencil-5 {
  height: 17px !important;
  left: 1px !important;
  top: 4px !important;
  width: 17px !important;
}

.section-component-node .icon-pencil-6 {
  -webkit-backdrop-filter: blur(2.82px) brightness(100%) !important;
  backdrop-filter: blur(2.82px) brightness(100%) !important;
  border-radius: 21.16px !important;
  height: 1px !important;
  left: 10px !important;
  top: 7px !important;
  width: 6px !important;
}

.section-component-node .icon-pencil-7 {
  height: 5px !important;
  top: 18px !important;
  width: 5px !important;
}

.section-component-node .text-wrapper-26 {
  color: var(--text-main);
  font-family: "MiSans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-component-node .frame-10 {
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 236, 236, 1) 100%
  );
  border-radius: 10.24px;
  box-shadow: 0px 6.4px 16px #38383808;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 64px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 163px;
}

.section-component-node .icon-message-instance {
  height: 40px !important;
  position: relative !important;
  width: 40px !important;
}

.section-component-node .icon-message-2 {
  background-color: #ffebeb !important;
  border-radius: 10.24px !important;
  box-shadow: 1.74px 5.22px 19.32px -2.51px #15334f1a !important;
  height: 40px !important;
  width: 40px !important;
}
