.group {
  height: 64px;
  left: 7%;
  position: absolute;
  top: 901px;
  width: 86%;
  max-width: 500px;
}

.group .text-wrapper {
  color: #1f1c14;
  font-family: "MiSans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 98%;
}

.group .text-wrapper-2 {
  color: var(--x-9ea-1b-2);
  font-family: "MiSans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  width: 93%;
}
