.tabbar {
  height: 89px;
  left: 0;
  position: absolute;
  top: 1133px;
  width: 100%;
}

.tabbar .overlap-3 {
  height: 89px;
  position: relative;
}

.tabbar .union-wrapper {
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tabbar .union {
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tabbar .frame-11 {
  height: 43px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tabbar .frame-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 43px;
  left: 28%;
  position: absolute;
  top: 28px;
  width: 44px;
}

.tabbar .notes {
  height: 24px;
  position: relative;
  width: 24px;
}

.tabbar .text-wrapper-27 {
  color: #1f1c14cc;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17.0px;
  margin-bottom: -0.94px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tabbar .img-wrapper {
  height: 46px;
  left: calc(50% - 24px);
  position: absolute;
  top: 10px;
  width: 48px;
}

.tabbar .group-5 {
  height: 99px;
  left: -27px;
  position: absolute;
  top: -27px;
  width: 101px;
}

.tabbar .frame-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 43px;
  left: 66%;
  position: absolute;
  top: 28px;
  width: 33px;
}

.tabbar .overlap-group-2 {
  background-image: url(../../../../../../assets/img/vector-1.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 3px;
  position: relative;
  top: 2px;
  width: 18px;
}

.tabbar .vector-2 {
  height: 7px;
  left: 4px;
  position: absolute;
  top: 8px;
  width: 10px;
}

.tabbar .frame-14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 43px;
  left: 90%;
  position: absolute;
  top: 28px;
  width: 24px;
}
