.icon-pencil {
  height: 184px;
  width: 184px;
}

.icon-pencil .overlap-4 {
  border-radius: 47.41px;
  height: 184px;
  position: relative;
}

.icon-pencil .box {
  background-color: #ffffff;
  border-radius: 47.41px;
  box-shadow: 8.05px 24.15px 89.45px -11.63px #15334f1a;
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(0.12deg);
  width: 184px;
}

.icon-pencil .pencil {
  height: 147px;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 147px;
}

.icon-pencil .overlap-group-3 {
  height: 104px;
  left: 31px;
  position: relative;
  top: 14px;
  width: 98px;
}

.icon-pencil .body {
  background: linear-gradient(
    109deg,
    rgba(145, 127, 251, 1) 0%,
    rgba(63, 45, 175, 1) 100%
  );
  border-radius: 13.06px;
  height: 48px;
  left: 46px;
  position: absolute;
  top: 8px;
  transform: rotate(42.73deg);
  width: 41px;
}

.icon-pencil .shape {
  height: 81px;
  left: 4px;
  position: absolute;
  top: 18px;
  width: 78px;
}

.icon-pencil .shape-2 {
  -webkit-backdrop-filter: blur(13.06px) brightness(100%);
  backdrop-filter: blur(13.06px) brightness(100%);
  background: linear-gradient(
    270deg,
    rgba(252, 253, 254, 0.9) 0%,
    rgba(252, 253, 254, 0) 100%
  );
  border: none;
  border-radius: 97.97px;
  height: 7px;
  left: 48px;
  position: absolute;
  top: 33px;
  transform: rotate(-137.27deg);
  width: 28px;
}

.icon-pencil .shape-2::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    268deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 97.97px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 0.49px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.icon-pencil .body-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 22px;
}
