.div {
  align-items: flex-start;
  display: flex;
  gap: 48px;
  left: 12%;
  overflow-x: scroll;
  position: absolute;
  top: 735px;
  width: 76%;
}

.div .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.div .frame-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: clamp(50px, 16vw, 60px);
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: clamp(50px, 16vw, 60px);
}

.div .tesla-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -5.00px;
  margin-right: -10.00px;
  margin-top: -5.00px;
  position: relative;
}

.div .tesla {
  height: 38px;
  opacity: 0.1;
  position: relative;
  width: 38px;
}

.div .text-wrapper-25 {
  color: #1f1c14;
  font-family: "MiSans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div .frame-4 {
  align-items: center;
  border: 1px solid;
  border-color: transparent;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  height: clamp(50px, 16vw, 60px);
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: clamp(50px, 16vw, 60px);
}

.div .frame-5 {
  height: 36px;
  margin-bottom: -3.00px;
  margin-right: -6.00px;
  margin-top: -3.00px;
  position: relative;
  width: 36px;
}

.div .frame-6 {
  border: 1px solid;
  border-color: transparent;
  border-radius: 50px;
  height: clamp(50px, 16vw, 60px);
  position: relative;
  width: clamp(50px, 16vw, 60px);
}

.div::-webkit-scrollbar {
  display: none;
  width: 0;
}
